html {
  margin: 0;
}
body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

.main-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
  right: 0;
}
.container {
  position: relative;
  width: 84em;
  margin: auto;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  transition-duration: 1s;
}
.word {
  position: relative;
  height: 10em;
  transition-duration: 1s;
}
.blurEffect {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.word > div {
  position: absolute;
  font-size: 4em;
  text-align: center;
  top: 15%;
}
.tagline {
  font-size: 28px;
  letter-spacing: 0.3em;
  transition-duration: 1s;
}

.p1 {
  left: 8em;
}
.p2 {
  left: 10.5em;
  width: 0.8em;
  height: 1.3em;
}
.p3 {
  right: 8.5em;
}
.btn {
  position: relative;
}
.readbtn {
  padding: 0.5em;
  margin: 1em;
  width: 10em;
  border-radius: 25px;
  font-family: "Rajdhani", sans-serif;
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 0.2em;
  outline: none;
  border: none;
  transition-duration: 3s;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 20em;
  }
  .word {
    height: 8em;
  }
  .tagline {
    font-size: 22px;
  }

  .p1 {
    left: 0.3em;
  }
  .p2 {
    left: 2.7em;
    width: 0.8em;
    height: 1.3em;
  }
  .p3 {
    right: 0.3em;
  }
}
