hml {
  margin: 0;
}
body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}
/* .main-container {
  border: solid 2px #fff;
}
.main-container > * {
  border: solid 2px #fff;
}
.container > * {
  border: solid 2px #fff;
}
.word > * {
  border: solid 2px #fff;
} */
.main-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
  right: 0;
}
.container {
  position: relative;
  width: 70%;
  margin: auto;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  transition-duration: 1s;
}
.word {
  position: relative;
  height: 15em;
  transition-duration: 1s;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
  /* font-family: "Rajdhani", sans-serif; */
}
.blurEffect {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.word > div {
  position: absolute;
  font-size: 4em;
  text-align: center;
  top: 25%;
}
.tagline {
  font-size: 28px;
  letter-spacing: 0.3em;
}

.p1 {
  left: 35%;
}
.p2 {
  left: 50%;
  width: 5%;
  height: 1.3em;
}
.p3 {
  right: 38%;
}
